<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
    	Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
<img src="assets/lis.jpg" alt="Avatar">
	<p>Selamat Siang
</p>
	<span class="time-right">11:00</span>
</div>
	<div class="container darker">
<img src="assets/irma.jpg" alt="Avatar" class="right">
	<p>Selamat Siang
</p>
	<span class="time-right">11:01</span>
</div>
<div class="ketik">
<ion-card>
	<ion-input placeholder="Masukkan Pesan ..."></ion-input>
	</ion-card>
	</div>
</ion-content>
