<ion-header>
  <ion-toolbar>
    <ion-title>Information Strategy Management And Acquisition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="justify">
    <div class="p">
    Management Information System atau Sistem Informasi Manajemen adalah sistem perencanaan 
    bagian dari pengendalian internal suatu bisnis yang meliputi pemanfaatan manusia, dokumen, 
    teknologi, dan prosedur oleh akuntansi manajemen untuk memecahkan masalah bisnis seperti biaya produk, 
    layanan, atau suatu strategi bisnis. Sistem informasi manajemen dibedakan dengan sistem informasi
     biasa karena SIM digunakan untuk menganalisis sistem informasi lain yang diterapkan pada aktivitas 
     operasional organisasi. Secara akademis, istilah ini umumnya digunakan untuk merujuk pada kelompok 
     metode manajemen informasi yang bertalian dengan otomasi atau dukungan terhadap pengambilan keputusan 
     manusia, misalnya sistem pendukung keputusan, sistem pakar, dan sistem informasi eksekutif.
    </div>
    </div>
    <div class="p"><ion-button (click)="closeModal()">Kembali</ion-button></div>
</ion-content>
