<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
      Kalender
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list lines="none">

<ion-item >
	<ion-icon name="arrow-dropright-circle"></ion-icon>
	<ion-label style="text-align: center;">Perkulihan / Aplication Development Kelas A&B<br>4 Maret 2019</ion-label>
</ion-item>
<ion-item >
	<ion-icon name="arrow-dropright-circle"></ion-icon>
	<ion-label style="text-align: center;">Perkulihan / Matematika Kelas A&B<br>5 Maret 2019</ion-label>
</ion-item>
<ion-item >
	<ion-icon name="arrow-dropright-circle"></ion-icon>
	<ion-label style="text-align: center;">Perkulihan / English Kelas A&B<br>6 Maret 2019</ion-label>
</ion-item>
<ion-item >
	<ion-icon name="arrow-dropright-circle"></ion-icon>
	<ion-label style="text-align: center;">Perkulihan / Programming Kelas A&B<br>7 Maret 2019</ion-label>
</ion-item>
<ion-item >
	<ion-icon name="arrow-dropright-circle"></ion-icon>
	<ion-label style="text-align: center;">Perkulihan / Analisis Sistem Kelas A&B<br>8 Maret 2019</ion-label>
</ion-item>
<ion-item >
	<ion-icon name="arrow-dropright-circle"></ion-icon>
	<ion-label style="text-align: center;">Perkulihan / Management Project Kelas A&B<br>9 Maret 2019</ion-label>
</ion-item>
<ion-item >
	<ion-icon name="arrow-dropright-circle"></ion-icon>
	<ion-label style="text-align: center;">Perkulihan / Tutorial Program Kelas A&B<br>10 Maret 2019</ion-label>
</ion-item>
</ion-list>
</ion-content>
