<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
      Profile
    </ion-title>
  </ion-toolbar>
  <ion-row>
   
  </ion-row>
</ion-header>

<ion-content class="padding has-header" ng-controller="listCtrl">
  <div class="card list">
      <ion-item class="item-image">
          <img src="assets/1.png">
        </ion-item>
    <ion-item class="full-image" src="img/1.jpg">
     
    <div class="p">
      
      
Sekolah Tinggi Ilmu Komputer Binaniaga (selanjutnya disingkat STIKOM BINANIAGA) adalah salah satu perguruan tinggi swasta di kota BOGOR. Sesuai dengan namanya STIKOM BINANIAGA adalah perguruan tinggi yang mengkhususkan diri di rumpun ilmu komputer, dengan membina dua program studi jenjang strata 1: Sistem Informasi dan Teknik Informatika.

Semula berdiri dengan nama AMIK (Akademi Manajemen Informatika dan Komputer) Binaniaga pada tahun 1991. Sejak tanggal 3 November 2003 berubah menjadi Sekolah Tinggi, melalui Surat Keputusan Menteri Pendidikan Nasional Republik Indonesia Nomor : 190/D/)/2003. STIKOM Binaniaga berada di bawah naungan Yayasan Binaniaga yang juga membina perguruan tinggi STIE Binaniaga dan AMIK Bogor.

Saat ini STIKOM Binaniaga menyelenggrakan program studi Sistem Informasi (SI), Teknik Informatika (TI), yang meliputi : kelas pagi (A), kelas malam (B), dan menerima juga mahasiswa pindahan dari perguruan tinggi lain dengan program studi yang sama. Program Studi yang diselenggarakan telah mendapat AKREDITASI dari Badan Akreditasi Nasional Perguruan Tinggi (BAN-PT). Untuk Program Studi Teknik Informatik, Akreditasi BAN PT. NO. 046/BAN-PT/Ak-XV/S1/XII/2013, dan Program Studi Sistem Informasi Akreditasi BAN PT No. 014/BAN-PT/Ak-XV/S1/VI/2012.

Program pendidikan diarahkan untuk menyiapkan sumberdaya manusia yang berpengetahuan (knowledge worker), yang menguasai ilmu komputer secara konseptual dan praktis (kompetensi pengetahuan dan keahlian teknis) untuk mengisi berbagai peluang karir dan profesi. Lulusan lebih diarahkan untuk menekuni aspek pemanfaatan dan pendayagunaan teknologi informasi pada pengelolaan  bisnis, sesuai dengan makna inti program penyelenggaraan pendidikan yang akan diwujudkan oleh Yayasan yang menaunginya yaitu "Binaniaga". Aspek pencapaian kemampuan ber-teknologi informasi guna mendorong bisnis menjadi "core subject" kurikulum pendidikan yang diselenggarakan.

Para lulusan pada umumnya telah bekerja di berbagai bidang, baik di lembaga swasta maupun instansi pemerintah, serta pengembangan usaha mandiri sebagai konsultan Teknologi Informasi, software developer dan jasa layanan Teknologi Informasi.

</div>
</ion-item>
</div>
</ion-content>