<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
   Materi
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-item>
		<ion-avatar slot="start">
			<img src="assets/anggra.jpg">
		</ion-avatar>
		<ion-label>
			<h2>Anggra Iriawan, S.Kom, M.Kom</h2>
			<h3>Application Development</h3>
			<p>Kamis, 14:00 - 17:00</p>
			<ion-button (click)="openApplication()">Lihat Materi</ion-button>
		</ion-label>
	</ion-item>
	<ion-item>
		<ion-avatar slot="start">
			<img src="assets/irma.jpg">
		</ion-avatar>
		<ion-label>
			<h2>Irmayansyah, S.Kom, M.Kom</h2>
			<h3>Information Strategy Management And Acquasition</h3>
			<p>Selasa, 09:00 - 11:00</p>
			<ion-button (click)="openInformation()">Lihat Materi</ion-button>
		</ion-label>
	</ion-item>
	<ion-item>
		<ion-avatar slot="start">
			<img src="assets/julio.jpg">
		</ion-avatar>
		<ion-label>
			<h2>Julio Warmansyah, S.Kom, M.MSI</h2>
			<h3>Enterpreneurship</h3>
			<p>Rabu, 10:00 - 12:00</p>
			<ion-button (click)="openEnter()">Lihat Materi</ion-button>
		</ion-label>
	</ion-item>
	<ion-item>
		<ion-avatar slot="start">
			<img src="assets/lis.jpg">
		</ion-avatar>
		<ion-label>
			<h2>Lis Utari, S.Kom, M.Kom</h2>
			<h3>Management Of Science</h3>
			<p>Senin, 14:00 - 17:00</p>
			<ion-button (click)="openManagement()">Lihat Materi</ion-button>
		</ion-label>
	</ion-item>
</ion-content>
