<ion-header>
  <ion-toolbar>
    <ion-title>Management Of Science</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="justify">
    <div class="p">
    Management science adalah salah satu bagian dari ilmu management yang membahas mengenai 
    penyelesaian masalah-masalah yang dihadapi oleh seorang manager, baik yang bergerak di 
    sektor publik maupun swasta, dalam proses pengambilan keputusan dengan cara pendekatan 
    model-model matematik. Jadi secara mendasar, management science sebagai suatu cabang ilmu 
    yang tidak lain adalah aplikasi matematika, sehingga dalam banyak hal sering kali terlihat 
    rumit dan tidak sederhana.
    Management Science ini juga sering disebut sebagai manajemen kuantitatif yang bisa di 
    katerogikan sebagai manajemen kontemporer (Walaupun sebenernya banyak juga yang mengkategorikannya 
    sebagai manajemen klasik), karena lahir setelah Howthrone Experiment, yaitu suatu eksperimen
    yang dilakukan oleh Hardvard University dimana hasil penelitian menunjukkan keanehan yaitu 
    Produktivitas dari kedua kelompok yang berbeda (yang satu kondisi kerjanya sudah ditingkatkan 
    dan yang satu lagi tetap) hasilnya sama (produktivitasnya).
  </div>
  </div>
  <div class="p"><ion-button (click)="closeModal()">Kembali</ion-button> </div>
</ion-content>
