<ion-header>
  <ion-toolbar>
    <ion-title>Application Development</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="justify">
    <div class="p">
  Application Development (Pengembangan Aplikasi) tidak terlepas dari sumber-sumber ‘open-source’, ataupun framework; dan juga API (Application Programming Interface) yang pada unsurnya sudah dikembangkan oleh sebuah organisasi ataupun individu.  Ini mengakibatkan pengembangan aplikasi menjadi lebih kompleks, dan menjadi sebuah tantangan baru untuk melakukan pembenahan (maintenance) oleh developer yang silih berganti sehingga menimbulkan resiko besar bagi perusahaan untuk melakukan pengendalian terhadap aset sistem. 
    </div>
    </div>
    <div class="p">
    <ion-button (click)="closeModal()">Kembali</ion-button></div>
</ion-content>
