<ion-header>
  <ion-toolbar>
    <ion-title>Entrepreneurship</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="justify">
    <div class="p">
    Entrepreneurship adalah jiwa kewirausahaan yang dibangun bertujuan untuk menjembatani 
    antara ilmu dengan kemampuan pasar. Entrepreneurship meliputi pembangunan/ pembentukan 
    sebuah perusahaan baru, kegiatan kewirausahaan juga merupakan kemampuan managerial yang 
    diperlukan oleh seorang entrepreneur.
  </div>
  </div>
  <div class="p">
  <ion-button (click)="closeModal()">Kembali</ion-button></div>
</ion-content>
